body {
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.color-list {
	list-style: none;
	padding: 0;
}

.color-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
	border: 1px solid var(--vscode-input-border);
}

.color-preview {
	width: 2em;
	height: 2em;
}

.color-preview:hover {
	outline: inset white;
}

.color-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
}

.add-color-button {
	display: block;
	border: none;
	margin: 0 auto;
}

#anim_canvas {
    border: 1px solid black;
	width: 600px;
    height: 600px;
    margin: 10px;
    /*background-color: blue;*/
}

#cat {
    width: 100px; /* Set the width of each frame */
    height: 100px; /* Set the height of each frame */
    /*background-image: url('cat_sprite_sheet.png'); !* Replace with your sprite sheet *!*/
    background-size: cover;
    transition: background-position 0.1s steps(10); /* Adjust the steps based on the number of frames in your sprite sheet */
}

#buttons {
	background-color:black;
}

button {
    margin: 5px;
}
